.mp_layout {
  height: 670px;
}
// header style start
.my_layout_header {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
  background: @title_bg;
  &_left {
    float: left;
    height: 30px;
    width: 200px;
  }
}

.my_menu_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  &_icon {
    margin-right: -20px;
    z-index: 2;
  }
  &_input {
    line-height: 25px;
    font-size: 13px;
    height: 25px;
    outline: none;
    border: none;
    background: @sider_bg;
    border-radius: 12px;
    padding-left: 20px;
    max-width: 100%;
  }
}
// header style end

// sider style start
.my_layout_sider {
  background: @sider_bg;
  &_menu {
    background: @sider_bg;
  }
}
.my_sider_menu_item {
  span {
    color: @sider_font_color;
  }
  i {
    color: @sider_font_color;
  }
}
.my_sider_menu_item_active {
  span {
    color: @sider_font_color_active;
  }
  i {
    color: @sider_font_color_active;
  }
  background: @sider_item_bg;
}
.icon_container {
  padding: 0 5px;
}
// sider style end

// footer style start
.mp_layout_footer {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  overflow: hidden;
  background: @footer_bg;
}
.icon_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  span {
    flex: 1;
  }
  span.play {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
// footer style end