// 去掉 menu 右边的箭头
.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  margin-top: 0;
  margin-bottom: 0;
}
.ant-menu-item:hover, .ant-menu-submenu-active:hover {
  background: #e8e8e8;
}
// ant-menu-submenu ant-menu-submenu-inline